/*Article List */

.articlecard-item:hover {
  background-color: rgb(231, 227, 227);
}

.articlecard-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.articlelist-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 30px auto 10px auto;
}

.articlelist-flexitem {
  margin-right: auto;
}

.articlelist-label {
  font-size: small;
  padding: 0 2px;
  margin-right: 5px;
  font-weight: bold;
}

#articleslist-apply {
  height: 30px;
  font-size: small;
}

.articlecard-item {
  flex: auto;
  width: 100%;
  max-width: 450px;
  padding: 0 10px;
  margin: 20px auto;
  border: 1px solid green;
}
