header {
  display: flex;
  flex-direction: row;
  padding: 20px;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
}

.img-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.img-button-container-span {
  margin-left: 5px;
}

Header .avatar {
  max-height: 40px;
  max-width: 80px;
  border-radius: 50%;
  border: 5px solid rgb(31, 160, 104);
  padding: 3px;
  margin-top: 10px;
}

.avatar:hover {
  animation: vibrate 0.5s;
  animation-iteration-count: infinite;
}

.login-button {
  border-radius: 15px;
  font-size: small;
  font-weight: bold;
  background-color: white;
  font-weight: bolder;
}

.tooltip {
  text-align: left;
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 170px;
  background-color: rgb(103, 102, 102);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -85px;
  font-size: x-small;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
