/*Navigator Component */
#navigator {
  display: flex;
  border: 1px solid black;
  align-items: center;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
  border: 1px solid black;
}
